# OS
.DS_Store
Thumbs.db

# Env
.env
.venv/
venv/

# Python
__pycache__/
*.pyc
*.egg-info/
.pytest_cache/
.mypy_cache/
backend/pytest-cache-files-*/

# Flutter / Dart
.dart_tool/
.packages
.pub/
build/

# IntelliJ / Android Studio / VS Code
.idea/
.vscode/
*.iml

# Mac / Linux temp
*.swp

# Environment variables
.env
